#!/usr/bin/env python
import sys
import os
import signal


def write_stdout(s):
   sys.stdout.write(s)
   sys.stdout.flush()


def write_stderr(s):
   sys.stderr.write(s)
   sys.stderr.flush()


def main():
   write_stdout('Killing supervisor...\n')
   try:
           pidfile = open({{ supervisord_pidfile | quote }},'r')
           pid = int(pidfile.readline());
           os.kill(pid, signal.SIGQUIT)
   except Exception as e:
           write_stdout('Could not kill supervisor: ' + e.strerror + '\n')

if __name__ == '__main__':
   main()
   import sys
